<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>

    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">

    <style>
        .main-container {
            margin-top: 120px;
            text-align: center;
        }

        h2 {
            font-family: 'Orbitron', sans-serif; font-size: 30px;
            margin-bottom: -10px;
        }

        p {
            font-family: 'poppins';
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="main-section-text">
            <h2>Results</h2>
            <p>{{ file_path }}</p>
        </div>
    </div>
</body>
</html>
